
{% extends "layout.html" %}

{% block content %}
<h1>List block of BlockChain</h1>
<ul> 
    {% for block in chain %}
        <li> 
            <strong>Block : {{ block.index }}</strong> 
            
            <ul>
                <li>Index: {{ block.index }}</li>
                <li>Timestamp: {{block.timestamp}}</li>
                <li>Transactions: 
                        {% for transaction in block.transactions %}
                            <ul>
                                <li>transaction: {{ loop.index }}</li>
                                <ul>
                                    <li>Sender: {{transaction['sender']}}</li>
                                    <li>recipient: {{transaction['recipient']}}</li>
                                    <li>amount: {{transaction['amount']}}</li>
                                </ul>
                            </ul>
                        {% endfor %}
                </li>
                <li>Previous Hash: {{block.previous_hash}}</li>
            </ul>
        </li>
    {% endfor %}
</ul>
{% endblock %}