{% extends "layout.html" %}
{% block content %}
{% if flag!=0 %}
    <script>
        alert("{{ms}}")
    </script>
{% endif %}
<h1>Enter new node</h1>
<form method="POST">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <label><b>Node  </b></label>
            </div>
            <div class="col-md-3">
                <input type="text" placeholder="Enter Node" name="node" required>
            </div>
        </div>
        <button type="submit">Add node</button>
    </div>
</form>
{% endblock %}